@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e9ecef;
  font-family: "Alkatra", "cursive";
  color: #1c1a1a;
}
.dark {
  background-color: #1c1a1a;
  color: #fbfbff;
}

.toggle-checkbox:checked {
  @apply: right-0 border-green-400;
  right: 0;
  border-color: #e9ecef;
}
.toggle-checkbox:checked + .toggle-label {
  @apply: bg-green-400;
  background-color: #e9ecef;
}
